

.container {
  display: flex;
  justify-content: center;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 2.3em;
}

.numberBlue {
  color: rgb(0 124 211);
}
.numberRed {
  color: rgb(231 0 16);
}

.btn {
  padding: 10px 28px;
  margin-left: 10px;
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 10px 6px 10px -9px rgb(142, 142, 142);
}

.btn-increment {
  background-color: rgb(0 124 211);
  color: white;
}
.btn-decrement {
  background-color: rgb(231 0 16);
  color: white;
}